@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}
.hero {
  background-image: url('https://res.cloudinary.com/mindset/image/upload/v1719738723/WhatsApp_Image_2024-06-25_at_23.09.12_50a89d24_1_dlzxgs.png') ;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}
.hero2 {
  background-image: url('https://res.cloudinary.com/mindset/image/upload/v1719757675/WhatsApp_Image_2024-06-25_at_23.09.12_594f658f_1_exc8sl.png') ;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}
.hero3 {
  background-image: url('https://res.cloudinary.com/mindset/image/upload/v1719761874/2148217345_1_mrqy8h.png') ;
  background-size: cover;
  background-position: center;
  /* padding: 30px 0; */
}
.libg{
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  background: #EF3133;
  width: auto;
  padding:10px 20px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
